{% extends "base.html" %}
{% block title %}personal{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Personal Data</h3>
    <div class="row">
        <div class="col-sm-5">
        <label for="age">Age</label>
        <input type="number"
               class="form-control"
               id="age"
               name="age"
               placeholder="Fill in your age"/>
        </div>
        <div class="col-lg-10"></div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-5">
        <label for="sex">Sex (0-male, 1-female)</label>
        <input type="number"
               min="0"
               max="1"
               class="form-control"
               id="sex"
               name="sex"
               placeholder="Fill in your sex"/>
        </div>
        <div class="col-lg-10"></div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-5">
        <label for="height">Height</label>
        <input type="number"
               step="0.1"
               class="form-control"
               id="height"
               name="height"
               placeholder="Fill in your height"/>
        </div>
        <div class="col-lg-10"></div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-5">
        <label for="weight">Weight</label>
        <input type="number"
               step="0.1"
               class="form-control"
               id="weight"
               name="weight"
               placeholder="Fill in your weight"/>
        </div>
        <div class="col-lg-10"></div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-5">
        <label for="activity">Activity (1-very low, 2-low, 3-medium, 4-high, 5-very high)</label>
        <input type="number"
               min="1"
               max="5"
               class="form-control"
               id="activity"
               name="activity"
               placeholder="Fill in your level of activity"/>
        </div>
        <div class="col-lg-10"></div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-5">
        <label for="goal">Goal (1-lose weight, 2-keep weight, 3-gain weight)</label>
        <input type="number"
               min="1"
               max="3"
               class="form-control"
               id="goal"
               name="goal"
               placeholder="Set up your goal"/>
        </div>
        <div class="col-lg-10"></div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-5">
        <label for="train_day_per_week">Training days per week</label>
        <input type="number"
               min="0"
               max="7"
               class="form-control"
               id="train_day_per_week"
               name="train_day_per_week"
               placeholder="Fill in you training days per week"/>
        </div>
        <div class="col-lg-10">
            <br />
            <button type="submit" class="btn btn-primary btn-sm">Submit</button></div>
    </div>

</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Age</th>
            <th scope="col">Sex</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">Activity</th>
            <th scope="col">Goal</th>
            <th scope="col">Training days per week</th>
            <th scope="col">Calories goal</th>
        </tr>
    </thead>
        <tbody>
         <tr>
             <td>{{ calories_all[1] }}</td>
             <td>{{ calories_all[2] }}</td>
             <td>{{ calories_all[3] }}</td>
             <td>{{ calories_all[4] }}</td>
             <td>{{ calories_all[5] }}</td>
             <td>{{ calories_all[6] }}</td>
             <td>{{ calories_all[7] }}</td>
             <td>{{ calories_all[8] }}</td>
         </tr>
        </tbody>
</table>

{% endblock %}